<style>
body {
	background-color: #081d44;
    color: #ffffff;
    /*font-family: "Roboto",sans-serif;font-size: 17px;font-weight: 300;*/
    
    font-size: 1.2em;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    letter-spacing: -2px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
}
h1 {
    font-size: 44px;
    letter-spacing: -2px;
    /*font-weight: 300;*/
    /*margin-bottom: 20px;*/
    /*text-transform: uppercase;*/
}
.highlight {    
    color: #ff611b !important;
}
</style>
<center>

<br><br><br><br><br>
<h1>Laman Web <span class="highlight">Jutawan App</span> Sedang Dalam<br>Proses Penyelenggaraan.<br>Harap Maklum.</h1>

</center>