BODY {
	background-color: #010E1F;
	/*background-color: #e6f2ff;*/
	color : black;
	font-family : Arial, Helvetica, sans-serif;
	font-size: 12px;
/*font-family : Arial;
	font-size: 11pt;*/
}
H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: -0.06em;
	color: #990000;
}

P {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
LI {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: -0.046em;
	font-weight: lighter;
}





.r_mn_hdr {
	font-family: Tahoma;
	font-size: 24pt;
	font-style: normal;
	font-weight: bolder;
	color: #990000;
	letter-spacing: -0.06em;
}
.s_mn_hdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: -0.08em;
}
.b_mn_hdr3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: -0.06em;
}

.b_mn_hdr4 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: -0.05em;
}
.b_mn_hdr2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bolder;
	letter-spacing: -0.07em;
	color: #000000;
}
.testimony {
	background-image: url(../img/paper-background.gif);
	background-repeat: repeat;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #EFEFEF;
	border-right-color: #EFEFEF;
	border-bottom-color: #EFEFEF;
	border-left-color: #EFEFEF;
}
